@media only screen and (max-width: 980px) {
    h1#cityname {
        font-size: 35px;
    }

    div.main {
        margin-top: 5px;
    }

    div.global {
        width: 100%;
        padding: 5px;
    }

    div.image {
        margin: 0;
    }

    div.content {
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 819px) {

    div.global {
        width: 100%;
        padding: 10px;
    }

    div.main {
        margin-top: 5px;
    }

    h1#cityname {
        font-size: 20px;
    }

    div.content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;
    }

    div.clock {
        margin-bottom: 30px;
    }

    div.image {
        margin: 0;
    }

}


@media only screen and (max-width: 620px) {


    div.main {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    div.global {
        width: 100%;
        padding: 10px;
    }

    div.city {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 10px;
    }

    div.content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;
        margin-top: 40px;
    }

    div.icon {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    div.clock {
        margin-bottom: 20px;
    }

    h1#cityname {
        font-size: 15px;
    }

    p#days.time {
        font-size: 17px;
    }

    div.icon {
        padding: 5px;
    }

    p#watch.hour {
        font-size: 30px;
    }

    p#sunset.sun-temp {
        font-size: 20px;
        margin: 5px 0 0 0;
        text-align: center;
    }

    p#sunrise.sun-temp {
        font-size: 20px;
        margin-top: 5px;
        text-align: center;
    }
}

/* iphone 5/ SE */
/* and smaller... GalaxyFold */
@media only screen and (max-width: 330px) {


    div.main {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .search {
        margin-top: 30px;
    }


    div.global {
        width: 100%;
        padding: 10px;
    }

    div.city {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 10px;
    }

    div.content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;
        margin-top: 10px;
    }

    div.icon {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
    }

    div.clock {
        margin-bottom: 20px;
    }

    h1#cityname {
        font-size: 17px;
        margin-bottom: 5px;
    }

    p#days.time {
        font-size: 15px;
    }

    div.icon {
        padding: 15px;
    }

    p#watch.hour {
        font-size: 10px;
    }

    p#sunset.sun-temp {
        font-size: 10px;
        margin: 5px 0 0 0;
        text-align: center;
    }

    p#sunrise.sun-temp {
        font-size: 10px;
        margin-top: 5px;
        text-align: center;
    }
}


/* //iPad pro Screen */
/* Work With This */
@media only screen and (min-width:768px) {
    div.main {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding-top: 5px;
        margin-bottom: -110px;
    }

    .cityInput {
        margin-top: 10px;
        width: 500px;
    }
    div.global {
        width: 80%;
        padding: 10px;
    }

    button {
        margin-top: 9.5px;
    }
    div.city {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    div.content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;
        margin-top: 150px;
    }

    div.icon {
        display: flex;
        align-items: center;
        justify-content: center;
    }


    h1#cityname {
        margin-top: 20px;
        font-size: 40px;
    }

    p#days.time {
        font-size: 25px;
    }

    p#desc.descDay {
        margin-top: 100px;
        font-size: 30px;
    }

    div.icon {
        padding: 8px;
        margin-bottom: 20px;
    }

    p#watch.hour {
        font-size: 30px;
    }

    p#sunset.sun-temp {
        font-size: 20px;
        margin: 5px 0 0 0;
        text-align: center;
    }

    p#sunrise.sun-temp {
        font-size: 20px;
        margin-top: 5px;
        text-align: center;
    }
}

/* For Desktop Screens */

@media only screen and (max-width: 1500px) {
    div.main {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding-top: 2px;
    
    }

    div.global {
        width: 80%;
        padding: 10px;
    }

    h1#cityname {
        margin-top: 10px;
        font-size: 2px;
    }

    div.city {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    div.content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;
    }

    div.icon {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    h1#cityname {
        font-size: 50px;
    }

    p#days.time {
        font-size: 18px;
        margin: 0;
    }

    div.icon {
        padding: 8px;
        margin-bottom: 5px;
        margin-top: 5px;
    }

    p#watch.hour {
        font-size: 30px;
    }


    p#sunset.sun-temp {
        font-size: 20px;
        margin: 5px 0 0 0;
        text-align: center;
    }

    p#sunrise.sun-temp {
        font-size: 20px;
        margin-top: 5px;
        text-align: center;
    }
}